In [ ]:
# Lab 6.02. Web Scraping Multiple Pages (find other lists of hot songs). Trying to build a repository for 80's (pock/rock)

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from time import sleep
from random import randint

In [2]:
years=range(1980, 1990)

In [3]:
# Pop Songs of 80's
pages_pop = []
for i in years:
    year= str(i)
    url = "https://playback.fm/charts/top-100-songs/" + year

    response = requests.get(url)
    print("Status code: " + str(response.status_code))
    pages_pop.append(response)

    wait_time = randint(1,4)
    print("I will sleep for " + str(wait_time) + " second/s.")
    sleep(wait_time)

Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 3 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 1 second/s.

In [4]:
pages_parsed = []
artists = []
songs = []
for i in range(len(pages_pop)):
    pages_parsed.append(BeautifulSoup(pages_pop[i].content, "html.parser")) 
    for j in range(len(pages_parsed[i].select(".artist"))):
        artists.append(pages_parsed[i].select(".artist")[j].get_text().replace('\n',''))
        songs.append(pages_parsed[i].select(".song")[2*j].get_text().replace('\n',''))

In [5]:
repository_pop = pd.DataFrame({"artist":artists,
                       "song":songs
                          })

In [6]:
repository_pop.head()

             artist                                song
0        Pink Floyd  Another Brick in the Wall (part 2)
1  Barbra Streisand                     A Woman in Love
2       John Lennon           (Just Like) Starting Over
3        Diana Ross                         Upside Down
4         Lipps Inc                           Funkytown

In [7]:
repository_pop.shape

(1000, 2)

In [8]:
# Rock Songs of 80's
pages_rock = []
for i in years:
    year= str(i)
    url = "https://playback.fm/charts/rock/" + year

    response = requests.get(url)

    print("Status code: " + str(response.status_code))

    pages_rock.append(response)

    wait_time = randint(1,4)
    print("I will sleep for " + str(wait_time) + " second/s.")
    sleep(wait_time)

Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 1 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 4 second/s.
Status code: 200
I will sleep for 3 second/s.
Status code: 200
I will sleep for 3 second/s.
Status code: 200
I will sleep for 2 second/s.
Status code: 200
I will sleep for 3 second/s.

In [9]:
pages_parsed = []
artists = []
songs = []
for i in range(len(pages_rock)):
    pages_parsed.append(BeautifulSoup(pages_rock[i].content, "html.parser")) 
    for j in range(len(pages_parsed[i].select(".artist"))):
        artists.append(pages_parsed[i].select(".artist")[j].get_text().replace('\n',''))
        songs.append(pages_parsed[i].select(".song")[2*j].get_text().replace('\n',''))

In [10]:
repository_rock = pd.DataFrame({"artist":artists,
                       "song":songs
                          })

In [11]:
repository_rock.head()

              artist                        song
0     REO Speedwagon          Keep On Loving You
1         The Police  Don't Stand So Close to Me
2         Pink Floyd   Another Brick in the Wall
3  The J. Geils Band                 Love Stinks
4         Lipps, Inc                   Funkytown

In [12]:
repository_rock.shape

(1000, 2)

In [13]:
# Billboard_Hot_100_number-one_singles_of_the_1980s
url = "https://en.wikipedia.org/wiki/List_of_Billboard_Hot_100_number-one_singles_of_the_1980s"

In [14]:
response = requests.get(url)
response.status_code

200

In [15]:
soup = BeautifulSoup(response.content, "html.parser")

In [16]:
prestab=soup.select("table")[2]

In [17]:
# prestab.select("tr td:nth-child(3)")

In [18]:
prestab.select("tr td:nth-child(3)")[0].get_text()

'KC and the Sunshine Band'

In [19]:
# prestab.select("tr td:nth-child(4) a")

In [20]:
prestab.select("tr td:nth-child(4) a")[0].get_text()

"Please Don't Go"

In [21]:
artists = []
songs = []
for i in range(len(prestab.select("tr td:nth-child(3)"))):
    artists.append(prestab.select("tr td:nth-child(3)")[i].get_text())
    songs.append(prestab.select("tr td:nth-child(4) a")[i].get_text())

In [24]:
repository_billboard = pd.DataFrame({"artist":artists,
                       "song":songs
                          })

In [26]:
repository_billboard.head()

                     artist                                song
0  KC and the Sunshine Band                     Please Don't Go
1           Michael Jackson                       Rock with You
2        Captain & Tennille         Do That to Me One More Time
3                     Queen      Crazy Little Thing Called Love
4                Pink Floyd  Another Brick in the Wall (Part 2)

In [28]:
repository_billboard.shape

(231, 2)

In [29]:
repository=pd.concat([repository_pop, repository_rock, repository_billboard])

In [30]:
repository=repository.drop_duplicates()

In [31]:
repository=repository.reset_index(drop=True)

In [32]:
repository.shape

(1849, 2)

In [68]:
import numpy as np
repository.to_csv('songs.csv', index=False)